<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar API</title>
</head>
<body>
    <h1>Solar API - Understand the concept of RestFull API </h1>
    <p>Those who want to understand the concept of RestFull API.</p>
    <p>Can Begin with this project . Solar API is API based on Solar System</p>
</body>
</html>